[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "hierNet"]
	path = hierNet
	url = https://github.com/jacobbien/hiernet
[submodule "protoclust"]
	path = protoclust
	url = https://github.com/jacobbien/protoclust
[submodule "simulator"]
	path = simulator
	url = https://github.com/jacobbien/simulator
[submodule "spcov"]
	path = spcov
	url = https://github.com/cran/spcov
